@charset "utf-8";
/* CSS Document */


.menu{
	margin: auto;
	max-width: 960px;
	margin-top: 10px;
}

.home{
	background-color: #F67E7D;
	color: #000000;
	width: 75px;
	float: left;
	padding-left: 30px;
}
.home:hover{
	background-color: #F67E7D;
}

a {
	text-decoration: none;
	color: #000000;
}

.branding{
	background-color: #FFB997;
	color: #000000;
	width: 95px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}
.branding:hover{
	background-color: #F67E7D;
}

.digitalillustrations{
	background-color: #FFB997;
	color: #000000;
	width: 150px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}
.digitalillustrations:hover{
	background-color: #F67E7D;
}

.creativeexplorations{
	background-color:#FFB997;
	color: #000000;
	width: 165px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}

.creativeexplorations:hover{
	background-color:#F67E7D;
}
.resume{
	background-color:#FFB997;
	color: #000000;
	width: 85px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}

.resume:hover{
	background-color: #F67E7D;
}
.about {
	background-color: #FFB997;
	color: #000000;
	width: 75px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}

.about:hover{
	background-color: #F67E7D;
}

.graphic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.column {
  float: left;
  width: 30%;
   padding: 15px;
	margin-left: auto;
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
	margin-top: 100px;
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
}

