@charset "utf-8";
/* CSS Document */
.menu{
	margin: auto;
	max-width: 960px;
	margin-top: 10px;
}
.home{
	background-color: #FFB997;
	color: #000000;
	width: 75px;
	float: left;
	padding-left: 30px;
	
}
.home:hover{
	background-color: #F67E7D;
}

.graphicdesigns{
	background-color: #FFB997;
	color: #000000;
	width: 135px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}
.graphicdesigns:hover{
	background-color: #F67E7D;
}

.branding{
	background-color: #FFB997;
	color: #000000;
	width: 95px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}
.branding:hover{
	background-color: #F67E7D;
}

.digitalillustrations{
	background-color: #FFB997;
	color: #000000;
	width: 150px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}
.digitalillustrations:hover{
	background-color: #F67E7D;
}

.creativeexplorations{
	background-color:#FFB997;
	color: #000000;
	width: 165px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}
.creativeexplorations:hover{
	background-color:#F67E7D;
}
.resume{
	background-color:#FFB997;
	color: #000000;
	width: 85px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}
.resume:hover{
	background-color: #F67E7D;
}
.about {
	background-color: #FFB997;
	color: #000000;
	width: 75px;
	float: left;
	padding-left: 30px;
	margin-left: 10px;
}
.about:hover{
	background-color: #F67E7D;
}

.graphic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
